* {
    margin: 0;
    padding: 0;
}

.magic-center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;

    &:visited {
        color: none;
      }
}

.top {
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 14px 0 14px 0;
    }

    .menu-bar {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 60px;
        padding: 40px 0 40px 0;

        .menu-bar_child{

            &:hover {
                opacity: 0.5;
                transform: scale(1.1)
            }

            height: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #2F2F2F;
            white-space: nowrap
        }
    }

    .select-for-language-frame {
            width: 88px;
            height: 40px;
            box-sizing: border-box;
            display: flex;
            border: 1px solid #E8E8E8;
            border-radius: 4px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #979797;
            padding: 8px 0px 8px 16px;
            overflow: hidden;
            appearance: none;
            background: url("./assets/icon/arrow-select.svg") no-repeat 52.5px;
    }
}

